<header class="header">
  <nav id="navbar-t" class="navbar navbar-expand-md row px-4 navbar-dark fixed-top bg-primary">

    <a class="navbar-brand exibition" href="#">APP</a>

    <!--Menu-->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
          <button class="nav-link btn bg-blue" routerLink="/home">Home
            <span class="sr-only">(current)</span>
          </button>
        </li>
        <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
          <button class="nav-link btn bg-blue" routerLink="#">Menu2
          </button>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <button class="nav-link btn bg-blue" routerLink="#">Menu3
          </button>
        </li>
        <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
          <button class="nav-link btn bg-blue" routerLink="#">Menu4</button>
        </li>
        <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
          <button class="nav-link btn bg-blue" routerLink="#">Menu5</button>
        </li>
      </ul>
    </div>

    <!--Botão de exibição do menu-->
    <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarCollapse" aria-label="Toggle navigation"
      type="button" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>
</header>