<footer class="fixed-bottom pb-3 bg-blue text-center bg-primary" style="font-size: 18px;">

  <div class="row pt-2">
    <div class="col-12 col-md-2 py-2 text-nowrap">
      <i class="fa fa-phone mx-1"></i>
      <span class="">(21) 3333-3333</span>
    </div>
    <div class="col-12 col-md-4 py-2 text-nowrap">
      <i class="fa fa-envelope mx-1"></i>
      <span class="">adm@hotmail.com</span>
    </div>
    <div class="col-12 col-md-6 py-2">
      <i class="fa fa-map-marker mx-1"></i>
      <span class="">Rua</span>
    </div>
  </div>

  <hr />
  <span>&copy; APP {{ startYear }} - {{ endYear }}</span>

</footer>